@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


#welcome{
  color: firebrick;
  text-align: center;
  line-height: 600px;
}

#flick{
  color: rgb(212, 41, 41);
  margin: 0%;
  font-size: 250%;
  text-align: center;
}

#animation {
  position: static;
  text-align: center;
  padding-top: 0%;
  width: 99.75%;
  font-size: 400%;
}


#mainSection {
  position: static;
  display: inline-block;
  width: 99.75%;
  top: 2%;
}

#mainSection #left {
  position: static;
  float: left;
  width: 10%;
  padding: 1%;
}

#mainSection #left .current{
  color: green;
  font-weight: bold;
}

#mainSection #left .resultless{
  color: rgb(160, 33, 33);
}

#mainSection #left li:hover{
  font-weight: bold;
}

#mainSection #right{
  display: static;
  float: right;
  width: 85%;
  padding: 1%;
}

#mainSection #right #gallery{
  width: 100%;
}

body {
  position: static;
  background-color: rgb(60, 60, 60);
  color: rgb(202, 202, 202);
  font-family: 'Open Sans', arial, sans-serif;
}

header {
  display: block;
  height: 140px;
  border-bottom: 5px solid #000;
  margin-bottom: 30px;}

h1 {
  margin: 0;
  font-size: 2em;
  color: firebrick;
  font-family: oswald, arial, sans-serif;}

h3 {
  margin: 0;
  font-size: 1.4em;
  color: #bb3f3f; 
  font-family: oswald, arial, sans-serif;}

input {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  padding: 6px 10px 6px 10px;
  font-size: 100%;
}

input[type=submit] {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.3s;
}

input[type=submit]:hover {
    background-color: #4095c6;
    cursor: pointer;
}

input[type=text] {
  height: 30px;
  width: 200px;
  border: 2px solid darkslategrey;
  border-radius: 4px;
  margin-left: 130px;
}