/* The Maker Bus Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


#welcome{
  color: firebrick;
  text-align: center;
  line-height: 600px;
}

#flick{
  color: firebrick;
  text-align: center;
  line-height: 600px;
}

#top {
  position: static;
  text-align: center;
  width: 100%;
  height: 10%px;
  background-color: rgba(0, 0, 0, 0.05);
}

#mainSection {
  background-color: rgba(0, 0, 255, 0.034);
  width: 50%;
}

#mainSection #left {
  float: left;
  text-align: left;
  width: 35%;
  height: 100%;
  position: static;
  background-color: rgba(255, 0, 85, 0.151);
}

#mainSection #left .current{
  color: green;
  font-weight: bold;
}

#mainSection #left .resultless{
  color: rgb(160, 33, 33);
}

#mainSection #left li:hover{
  font-style: strike;
  font-weight: bold;
}

#mainSection #right {
  position: relative;
  float: right;
  width: 65%;
  position: static;
  background-color: rgba(255, 230, 0, 0.116);
}

body {
  position: static;
  background-color: #fff;
  color: rgb(37, 37, 37);
  font-family: 'Open Sans', arial, sans-serif;
}

header {
  display: block;
  height: 140px;
  border-bottom: 5px solid #000;
  margin-bottom: 30px;}

h1 {
  margin: 0;
  font-size: 2em;
  color: firebrick;
  font-family: oswald, arial, sans-serif;}

h2 {
  font-size: 2.4em;
  margin: 0.7em 0 1.7em 0;
  padding: 0;
  color: #3fbb8a;
  line-height: 1em;
  letter-spacing: -.06em;}

h3 {
  margin: 0;
  font-size: 1.4em;
  color: #3fbb8a; 
  font-family: oswald, arial, sans-serif;}

nav {
  float: right;
  font-family: oswald, arial, sans-serif;
  width: 600px;
  padding-top: 30px;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;}
nav a {
  padding-left: 30px;}
nav a:hover, a.current {
  color: #d71a00;}

a {text-decoration: none; color: #000;}

.third, .event {
  width: 320px;
  float: left;
  text-align: center;}

.event p {border-right: 1px solid #999; }
#content .event:last-child p {border-right: none;}

.third p {
  padding: 0 20px 0 20px;
  margin: 40px 0 20px 0;
  text-align: left;
  line-height: 1.4em;}

.intro p {
  margin: 0 0 0 0;
  padding: 0 20px 20px 0;}


.half {
  padding-top: 60px;
  width: 480px;
  float: left;
  text-align: center;}

#vote {padding-top: 20px;}
p#selector {margin-top: -40px;}

form {
  margin: 0 0 0 90px;
  width: 100%;}

  label, input {
    display: inline-block;}

label {
  display: block;
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;}

input {
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  padding: 6px 10px 6px 10px;
}

input[type=submit] {
  background-color: #1fb684;
  color: #fff;
  font: sans-serif;
  font-weight: bold; 
  width: 100px;
  margin: 1%;
  padding: 1%;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background-color: #198f67;
  cursor: pointer;}

/* Example */
#event a {
  font-family: oswald, arial, sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  text-align: left;
  line-height: 4.5em;
  display: block; 
  height: 120px; width: 100%;}
#event img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;}
#event a:hover, #sessions a:hover {color: #1fb684;}
#sessions a {
  font-family: oswald, arial, sans-serif;
  font-size: 120%;}
#sessions p {
  margin-top: 2em;}
#sessions ul {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 0 20px 0 20px;
  margin: 0 0 40px 0;}
#sessions li {
  list-style-type: none; 
  padding: 20px 0 20px 0; 
  background-color: #fff; 
  border-top: 1px solid #d6d6d6;
  text-align: left;}
#sessions li:first-child {
  border-top: none;
  padding-top: 1.8em;}
#sessions li .time {
  display: inline-block;
  width: 60px;}
#details div {
  text-align: left;
  padding: 1.8em 0 0em 1;}
#details p {
  padding: 0;
  margin: 0.8em 0 0 0;}